body {
    background-image: linear-gradient(to bottom left, #5e4e92 20%,#dc7381);
    background-attachment: fixed;
    text-align: center; 
    widows: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
ul { 
    list-style: none;
    padding-left: 0px;
}
.spotlight {
    column-count: 2;
}
.content {
    column-count: 2;
}

.alt {
    text-align: center;
    padding: 96px 64px 48px;
}
.first_txt {
    margin-bottom: 40px;
}
.main {
    background-color: white;
    margin: auto;
    border-top: 2px solid #dddddd;
    padding: 32px 32px 64px;
}
.navegator {
    margin: 0px;
    padding: 16px;
}
nav {
    background-color: #f7f7f7;
    border-radius: 0.25em 0.25em 0em 0em  ;
    opacity: 85%;           
}
.nav_item {
    display: inline-block;
    padding: 0px 20px ;
}
a {
    display: inline-block;
}
.block {
    display: inline-block;
    padding: 50px;
}
.features {
    justify-content: center;
    display: flex;
    column-count: 3;
    column-gap: 25px;
    padding-left: 0px;
}

.image {
    width: 265px;
    height: 256px;
    border-radius: 100%;
}
#imgs {
    padding-left: 0px ;
}

h1,h2, h3{
    margin-top: 0px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 16px;
    margin-top: 0px;
}
.logo {
    display: block;
    margin: 0 0 1.5em 0;
}