#page-wrapper {
    width: 80%;
    margin: auto;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#div-wrapper {
    padding: 4.5em 0 3em 0;
    text-align: center;
}
#logo h1 a{
    background-color: #ff4486;
    color: #fff;
    border-radius: 6px;
    border-color: #ff4486;
    font-family: 'Oleo Script', serif;
    font-weight: 400px;
    font-size: 1.25em;
    padding: 5.5px 16px  5.5px 16px ;
    letter-spacing: 0.05em;
    text-decoration: none;
}
.selector {
    user-select: none; 
    cursor: pointer; 
    white-space: nowrap;
}
ul {
    list-style: none;
}
#logo {
    display: flex;
}